# Build artifacts
dist/
build/
*.exe

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Web (Node.js)
node_modules/
web/frontend/dist/
*.local

# Jupyter Notebooks
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs
.vscode/
.idea/
.DS_Store

# Data results (Prevent large generated JSONs from being committed)
*.json
!package.json
!package-lock.json

# Temporary files
*.log
tmp/
temp/